<h2>Find Authors</h2>

<form action="/authors" method="GET">
  <input type="text" name="authorToFind" value="<%= inputQuery   %>" />
  <button type="submit">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</form>

<% if (authors.length === 0) { %>
<div style="color: gray">Author not found!</div>
<% } %> 
<% authors.map((author, index) => { %>
<div id="authorCard">
  <span><%= index + 1 %>.</span>
  <input
    id="display-authors"
    type="text"
    name="authorName"
    value="<%= author.name %>"
  />

    <a href= "<%= `authors/${author.id}/edit` %>" class="button">
      <i class="fa-solid fa-pen"></i>
    </a>

  <form action="/authors?_method=DELETE" method="POST">
    <input type="hidden" name="authorName" value="<%= author %>">
    <button class="button" type="submit">
      <i class="fa-solid fa-trash-can"></i>
    </button>
  </form>
</div>


<% }) %>

<%- include('../partials/logout.ejs') %>